:root {
  --bg: #f5f7fa;
  /* --text: #333; */
  /* --primary: #000000; */
  --success: #2ecc71;
  --warning: #f1c40f;
  --border-radius: 8px;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  --font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 1.6;
  height: 100%;
  width: 100%;
}

main.container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
  background: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--primary);
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  justify-content: center;
}

input {
  padding: 0.6rem 1rem;
  border: 1px solid #000000;
  border-radius: var(--border-radius);
  flex: 1;
  max-width: 300px;
  font-size: 1rem;
}

button {
  padding: 0.6rem 1.2rem;
  background-color: #008080;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background 0.2s;
  font-size: 1rem;
}

button:hover {
  background-color: #008080;
}

button:disabled {
  background-color: #bbb;
  cursor: not-allowed;
}

table.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
}

table.styled-table th,
table.styled-table td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

table.styled-table tr.ok {
  background-color: #00ff15; /* Verde claro para conferido */
}

table.styled-table tr.pendente {
  background-color: #ffcc00; /* Amarelo claro para pendente */
}

.btn-finalizar {
  display: block;
  margin: 2rem auto 0;
}
